accelerate==0.34.2
datasets==2.15.0
diffusers==0.25.0
einops==0.8.2
huggingface_hub==0.25.1
imwatermark==0.0.2
lpips==0.1.4
numpy==1.26.0
opencv_python_headless==4.5.5.64
Pillow==11.0.0
pytorch_msssim==1.0.0
safetensors==0.4.5
scipy==1.11.1
sentencepiece==0.2.1
torch==2.1.2
torchvision==0.16.2
tensorboardX==2.6.2.2
transformers==4.45.1
tqdm==4.66.1
